@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.main-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.main-header-content > h1 {
  font-size: 36px;
  color: rgb(254, 112, 112);
  letter-spacing: -0.5px;
  margin: 0;
  font-weight: 500;
}
.main-header-content > h1 > .name-text {
  color: rgb(254, 112, 112);
  text-decoration: underline;
  /* Temporary, eventually I want this to be an animation with psuedo elements. */
}

.main-about-me {
  font-size: 24px;
  margin-bottom: none;
}

.main-about-me-paragraph {
  font-size: 18px;
  color: #ededed;
  letter-spacing: -0.5px;
}

.main-about-me-language-list {
  list-style-type: "👉 ";
}

.hire-me-skills {
  list-style-type: "👉 ";
}

.hire-me-prices {
  list-style-type: "👉 ";
}

.main-projects-content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.link {
  color:rgb(254, 112, 112);
}
.blur {
  position: absolute;
  background-color: rgb(186 91 91);
  filter: blur(60px);
  z-index: -100;
  border-radius: 100%;
}
.blur-left {
  width: 120px;
  height: 120px;
  top: 15%;
  left: 12%;
}
.blur-right {
  width: 150px;
  height: 150px;
  top: 55%;
  left: 70%;
  filter: blur(62px);
  opacity: 0.7;
}
.project {
  background-color: #272626;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  transition: 350ms ease-in-out;
  min-height: 125px;
  animation: fadeIn 600ms forwards;
}
.project-title {
  font-size: 24px;
  color: rgb(254, 112, 112);
  letter-spacing: -0.5px;
}
.project-description {
  color: white;
}

.project-links, .team-links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.project-link, .team-link {
  color: #ededed;
  text-decoration: none;
  transition: 250ms ease-in-out;
  font-size: 1.5rem;
}
.team-link {
  font-size: 2rem;
}
.project:hover {
  cursor: pointer;
  background-color: #3a3939;
}
.main-teams-content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.team-title {
  font-size: 24px;
  color: rgb(254, 112, 112);
  letter-spacing: -0.5px;
}
.team-description {
  color: white;
  min-width: 30px;
}
.contact-msg {
  margin-bottom: 15px;
}
.warning-text {
  color: #ffae00;
  text-align: center;
}
.main-contact-content {
  font-size: 18px;
  padding: 10px;
}
.identifier {
  position: relative;
  left: 114px;
}
.main-contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 65%;
}

th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td {
  text-align: left;
  padding: 8px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ml9 {
  position: relative;
  font-weight: 800 !important;
}

.letters {
  overflow: hidden;
  white-space: nowrap;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
}

.main-header-content > h1 > .ml9 {
  font-weight: 800;
}
