---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="About">
    <Navbar />
    <main>
        <img src="/crt_red_mask.png" class="crt-mask" />
        <h1>About</h1>
        <p>
            Thank you for visiting wearr.dev! If you are in need of any coding or technology based services not listed, please feel free to contact me regardless, and we can potentially work something
            out!
        </p>
        <p>Source code for the site will be available soon, I am just sorting out some final details :)</p>
        <p>
            <b
                >This entire site was made possible by those who supported me throughout my development career &lt;3 I wouldn't be where I am today without any of the support I've received on my
                projects!</b
            >
        </p>
    </main>
    <Footer />
</Layout>
