---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/FooterSmallPage.astro";
---

<Layout title="About">
    <Navbar />
    <main>
        <h1>About</h1>
        <p>Thank you for visiting wearr.dev! If you are in need of any coding or technology based services not listed, please feel free to contact me regardless, and we can potentially work something out!</p>
        <p>The entire source code for this entire website is available <a target="_blank" rel="noopener noreferrer" class="link" href="https://github.com/wearrrrr/wearr.dev_astro">here!</a></p>
        <p><b>This entire site was made possible by those who supported me throughout my web development career &lt;3 I wouldn't be where I am today without any of the support I've received on my projects!</b></p>
        
        <Footer/>
    </main>
</Layout>