---
import LinkButton from "../components/LinkButton.astro";
---

<div class="button-list">
    <div class="88x31-buttons">
        <LinkButton src="https://thememesniper.dev/images/88x31.png" alt="thememesniper.dev" link="https://thememesniper.dev" />
        <LinkButton src="https://velzie.rip/88x31.png" alt="velzie.rip" link="https://velzie.rip" />
        <LinkButton src="https://bomberfish.ca/buttons/button.gif" alt="bomberfish.ca" link="https://bomberfish.ca" />
        <LinkButton src="/88x31/bebe.gif" alt="paige" link="https://codeberg.org/paige" />
        <LinkButton src="/88x31/recutified.png" alt="uncutified.moe" link="https://uncutified.moe" />
        <LinkButton src="https://amy.rip/88x31.png" alt="amy.rip" link="https://amy.rip" />
        <hr />
        <LinkButton src="/88x31/github.png" alt="Add me on GitHub!" link="https://github.com/wearrrrr" />
        <LinkButton src="/88x31/steam.gif" alt="Add me on Steam!" link="https://steamcommunity.com/id/wearr_/" />
        <LinkButton src="/88x31/bestview.gif" alt="Best Viewed with open eyes" />
        <LinkButton src="/88x31/madeon_linux.gif" alt="Made On Linux" />
        <LinkButton src="/88x31/console_wii.png" alt="Wii" />
        <LinkButton src="/88x31/copy_floppy.gif" alt="Copy that Floppy!" />
        <LinkButton src="/88x31/amiga_friendly.gif" alt="Amiga Friendly!" />
    </div>
    <div>Feel free to add my <a class="link" target="_blank" rel="noreferrer noopener" href="/88x31.gif">Button</a> if we are mutuals! Hotlinking preferred :)</div>
    <LinkButton src="/88x31.gif" alt="wearr.dev" link="https://wearr.dev" />
</div>
