---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Files">
<body>
  <Navbar />
      <main>
        <h1>Files: </h1>
        <h3>Coming Soon!</h3>
      </main>
</body>
</html>
</Layout>