---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="wearr.dev">
<body>
  <Navbar></Navbar>
  <main>
    <div class="main-header-content">
      <h1 class="first-title" id="first-title">Welcome to wearr.dev!</h1>
      <h2 class="second-title" id="second-title">My name is Rowan and I am a fullstack web developer, primarily specializing in backends. </h2>
    </div>
  
    <div class="main-about-me">
      About Me:
      <div class="main-about-me-paragraph">
          My name is Rowan, but I commonly go by wearr in non-professional environments. I currently work with <a target="_blank" rel="noreferrer noopener" href="https://github.com/NebulaServices">Nebula Services</a> and I am a student and an aspiring web developer, and so far I have experience in
          <ol class="main-about-me-language-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JS</li>
            <li>Java</li>
            <li>C (not much)</li>
          </ol>
          I am currently planning on learning Rust and C++ in the near future.
      </div>
    </div>


    <h1>Projects: </h1>
    <div class="main-projects-content">
      <Projects></Projects>
    </div>

    <h1>Teams I've worked with</h1>
    <div class="main-teams-content">
      <a target="_blank" rel="noreferrer noopener" href="https://github.com/NebulaServices" class="team neb">
          <div class="team-title">Nebula Services</div>
          <div class="team-description">A team of developers that work on various projects, including Nebula Web, Sylo, and Dynamic!</div>
      </a>
      <a href="https://github.com/consumet" target="_blank" rel="noopener noreferrer" class="team cm">
        <div class="team-title">Consumet</div>
        <div class="team-description">A high level API for discovering Movies, TV, Anime, and Books.</div>
      </a>
    </div>
  </main>
</body>
</html>
</Layout>