---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import ViewCounter from "../components/ViewCounter.astro";
import ButtonCollection from "./ButtonCollection.astro";
---

<Layout title="Welcome to wearr.dev!">
    <body>
        <Navbar />
        <div class="main">
            <img src="/crt_red_mask.png" class="crt-mask" />
            <div class="main-header-content">
                <h1 class="first-title" id="first-title">
                    Hi! I'm wearr, and welcome to my little corner of the <div class="fancy-wrapper rainbow">Internet!</div>
                </h1>
            </div>
            <div class="main-about-me">
                About Me:
                <div class="main-about-me-paragraph">
                    <p>
                        Nice to meet you. I'm Rowan, but I commonly go by wearr online. I currently work with <a class="link" target="_blank" rel="noreferrer noopener" href="https://mercurywork.shop">Mercury Workshop</a>. I'm a High School Senior and a web developer!
                    </p>
                    <p>I have been programming for about 2 years now, and I am planning to branch off into Cybersecurity and App development.</p>
                    <p>I'm N5-N4 in Japanese, and am an English native!</p>

                    <p>Currently, I am proficient in:</p>

                    <ol class="list-item">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>TS</li>
                        <li>C</li>
                    </ol>

                    <p>I am learning:</p>

                    <ol class="list-item">
                        <li>Java</li>
                        <li>C++</li>
                    </ol>
                </div>
            </div>
            <ViewCounter />
            <ButtonCollection />
        </div>
        <Footer />
    </body>
</Layout>
