---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import ProjectList from "../components/Projects.astro";
import Teams from "../components/Teams.astro";
import Footer from "../components/FooterIndex.astro";
import Services from "../components/Services.astro";
---

<Layout title="Welcome to wearr.dev!">
<body>
  <Navbar />
  <main>
    <div class="main-header-content">
      <div class="blur blur-left"></div>
      <h1 class="first-title" id="first-title">Hi. My name is <span class="name-text">wearr</span>, and I'm a <span class="ml9"><span class="text-wrapper"><span class="letters">Web Developer</span></span></span></h1>
    </div>
    <div class="blur blur-right"></div>
    <div class="main-about-me">
      About Me:
      <div class="main-about-me-paragraph">
          <p>My real name is Rowan, but I commonly go by wearr online. I currently work with <a class="link" target="_blank" rel="noreferrer noopener" href="https://mercurywork.shop">Mercury Workshop</a> and <a class="link" target="_blank" rel="noreferrer noopener" href="https://github.com/NebulaServices">Nebula Services</a>. I am a High School Junior and an aspiring web developer.</p>
          <p>I have been programming for about 2 years now, and I am planning to branch off into Cybersecurity and App development.</p>

          <p>I am currently proficient in:</p>

          <ol class="list-item">
            <li>HTML</li>
            <li>CSS</li>
            <li>JS</li>
            <li>TS</li>
          </ol>
          
          <p>I am currently learning:</p>
          
          <ol class="list-item">
            <li>Java</li>
            <li>C</li>
            <li>C++</li>
          </ol>
      </div>
    </div>


    <h1>Projects: </h1>
    <div class="main-projects-content">
      <ProjectList />
    </div>

    <h1>Teams I've worked with</h1>
    <div class="main-teams-content">
        <Teams />
    </div>

    <h1>Services: </h1>
    <Services />
  </main>
  <Footer/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
</Layout>
<script is:inline>


function timelineText() {
  let ml9 = document.querySelector('.ml9');
  ml9.style.display = "inline-block"
  let textWrapper = document.querySelector('.ml9 .letters');
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
  
  anime.timeline({loop: false})
  .add({
    targets: '.letter',
    scale: [0, 1],
    easing: 'spring(1, 90, 10, 0)',
    duration: 2500,
    delay: (el, i) => 45 * (i+1)
  })
}

function playAnimation() {
  let reducedMotion = window.matchMedia(`(prefers-reduced-motion: reduce)`).matches === true
  if (window.location.pathname == "/") {
    if (!reducedMotion) {
      timelineText();
    } else {
      let ml9 = document.querySelector('.ml9');
      ml9.style.display = "inline-block"
    }
  }
}

document.addEventListener('astro:after-swap', () => {
  playAnimation();
}, { once: true });
playAnimation();
</script>