---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import ProjectList from "../components/Projects.astro";
import Teams from "../components/Teams.astro";
import Footer from "../components/Footer.astro";
import Services from "../components/Services.astro";
---

<Layout title="Welcome to wearr.dev!">
<body>
  <Navbar />
  <main>
    <img src="/crt_red_mask.png" class="crt-mask">
    <div class="main-header-content">
      <div class="blur blur-left"></div>
      <h1 class="first-title" id="first-title">Hi. My name is <span class="name-text">wearr</span>, and I'm a <span class="ml9"><span class="text-wrapper"><span class="letters">Web Developer</span></span></span></h1>
    </div>
    <div class="blur blur-right"></div>
    <div class="main-about-me">
      About Me:
      <div class="main-about-me-paragraph">
          <p>My real name is Rowan, but I commonly go by wearr online. I currently work with <a class="link" target="_blank" rel="noreferrer noopener" href="https://mercurywork.shop">Mercury Workshop</a> and <a class="link" target="_blank" rel="noreferrer noopener" href="https://github.com/NebulaServices">Nebula Services</a>. I am a High School Junior and an aspiring web developer.</p>
          <p>I have been programming for about 2 years now, and I am planning to branch off into Cybersecurity and App development.</p>

          <p>I am currently proficient in:</p>

          <ol class="list-item">
            <li>HTML</li>
            <li>CSS</li>
            <li>JS</li>
            <li>TS</li>
          </ol>
          
          <p>I am currently learning:</p>
          
          <ol class="list-item">
            <li>Java</li>
            <li>C</li>
            <li>C++</li>
          </ol>
      </div>
    </div>


    <h1>Projects: </h1>
    <div class="main-projects-content">
      <ProjectList />
    </div>

    <h1>Teams I've worked with</h1>
    <div class="main-teams-content">
        <Teams />
    </div>

    <h1>Services: </h1>
    <Services />
  </main>
  <Footer/>
</body>
</html>
</Layout>
<script>
import anime from 'animejs/lib/anime.es.js';

function timelineText() {
  if (!document.querySelector('.ml9')) return;
  let ml9 = document.querySelector('.ml9') as HTMLSpanElement;
  ml9.style.display = "inline-block"
  let textWrapper = document.querySelector('.ml9 .letters');
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
  
  anime.timeline({loop: false})
  .add({
    targets: '.letter',
    scale: [0, 1],
    easing: 'spring(1, 180, 10, 0)',
    duration: 2500,
    delay: (el, i) => 45 * (i+1)
  })
}

function playAnimation() {
  if (window.matchMedia(`(prefers-reduced-motion: reduce)`).matches === false && localStorage.getItem("retro") == "false") {
    timelineText();
  } else {
    if (!document.querySelector('.ml9')) return;
    (document.querySelector('.ml9') as HTMLSpanElement).style.display = "inline-block"
  }
}

playAnimation();

document.addEventListener("astro:after-swap", () => {
  playAnimation();
})



const pattern = ['ArrowUp', 'ArrowUp', 'ArrowDown', 'ArrowDown', 'ArrowLeft', 'ArrowRight', 'ArrowLeft', 'ArrowRight', 'b', 'a'];
let current = 0;

document.addEventListener('keydown', (e) => {
  if (e.key === pattern[current]) {
    current++;
    if (current === pattern.length) {
      // Activate retro mode
      if (localStorage.getItem("retro") == "true") {
        localStorage.setItem("retro", "false");
        document.body.classList.add("transitioning");
        setTimeout(() => {
          document.body.classList.toggle('retro');
          document.body.classList.remove("transitioning");
        }, 250);
        return;
      }
      localStorage.setItem("retro", "true");
      document.body.classList.add("transitioning");
      setTimeout(() => {
        document.body.classList.toggle('retro');
        document.body.classList.remove("transitioning");
      }, 250);

      current = 0;
    }
  } else {
    current = 0;
  }
})

</script>