---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import ProjectList from "../components/Projects.astro";
import Teams from "../components/Teams.astro";
import Footer from "../components/Footer.astro";
import Services from "../components/Services.astro";
import Contributed from "../components/Contributed.astro";
import ViewCounter from "../components/ViewCounter.astro";
import LinkButton from "../components/LinkButton.astro";
---

<Layout title="Welcome to wearr.dev!">
    <body>
        <Navbar />
        <main>
            <img src="/crt_red_mask.png" class="crt-mask" />
            <div class="main-header-content">
                <h1 class="first-title" id="first-title">
                    Hi! I'm wearr, and welcome to my little corner of the <div class="fancy-wrapper rainbow">Internet!</span>
                </h1>
            </div>
            <div class="main-about-me">
                About Me:
                <div class="main-about-me-paragraph">
                    <p>
                        Nice to meet you. I'm Rowan, but I commonly go by wearr online. I currently work with <a class="link" target="_blank" rel="noreferrer noopener" href="https://mercurywork.shop"
                            >Mercury Workshop</a
                        >. I'm a High School Senior and a web developer!
                    </p>
                    <p>I have been programming for about 2 years now, and I am planning to branch off into Cybersecurity and App development.</p>
                    <p>I'm N5-N4 in Japanese, and am an English native!</p>

                    <p>Currently, I am proficient in:</p>

                    <ol class="list-item">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>TS</li>
                        <li>C</li>
                    </ol>

                    <p>I am learning:</p>

                    <ol class="list-item">
                        <li>Java</li>
                        <li>C++</li>
                    </ol>
                </div>
            </div>
            <ViewCounter />
            <div class="88x31">
                <div class="88x31-buttons">
                    <LinkButton src="https://thememesniper.dev/images/88x31.png" alt="thememesniper.dev" link="https://thememesniper.dev"></LinkButton>
                    <LinkButton src="https://velzie.rip/88x31.png" alt="velzie.rip" link="https://velzie.rip"></LinkButton>
                    <LinkButton src="https://bomberfish.ca/buttons/button.gif" alt="bomberfish.ca" link="https://bomberfish.ca"></LinkButton>
                    <hr>
                    <LinkButton src="/88x31/github.png" alt="Add me on GitHub!" link="https://github.com/wearrrrr"></LinkButton>
                    <LinkButton src="/88x31/steam.gif" alt="Add me on Steam!" link="https://steamcommunity.com/id/wearr_/"></LinkButton>
                    <LinkButton src="/88x31/bestview.gif" alt="Best Viewed with open eyes"></LinkButton>
                    <LinkButton src="/88x31/madeon_linux.gif" alt="Made On Linux"></LinkButton>
                    <LinkButton src="/88x31/console_wii.png" alt="Wii"></LinkButton>
                    <LinkButton src="/88x31/copy_floppy.gif" alt="Copy that Floppy!"></LinkButton>
                    <LinkButton src="/88x31/amiga_friendly.gif" alt="Amiga Friendly!"></LinkButton>
                </div>
                <div>Feel free to add my <a class="link" target="_blank" rel="noreferrer noopener" href="/88x31.gif">Button</a> if we are mutuals! Hotlinking preferred :)</div>
                <LinkButton src="/88x31.gif" alt="wearr.dev" link="https://wearr.dev" />
            </div>
        </main>
        <Footer />
    </body>
</Layout>

<script is:inline>
    const fancyWrapper = document.querySelector(".fancy-wrapper");
    function timelineText() {
        if (!fancyWrapper) return;
        fancyWrapper.style.display = "inline-block";
    }

    function playAnimation() {
        if (window.matchMedia("(prefers-reduced-motion: reduce)").matches === false && localStorage.getItem("retro") == "false") {
            timelineText();
        } else {
            // Check is at least firefox 16, IE 10 or Chrome 43
            switch (browser.name) {
                case "Chrome":
                    if (browser.version >= 43) {
                        timelineText();
                    }
                    break;
                case "Firefox":
                    if (browser.version >= 16) {
                        timelineText();
                    }
                    break;
                case "IE":
                    if (browser.version >= 10) {
                        timelineText();
                    }
                    break;
                default:
                    break;
            }
            if (!fancyWrapper) {
                throw new Error("fancyWrapper not found!");
            }
            fancyWrapper.style.display = "inline-block";
        }
    }

    playAnimation();

    document.addEventListener("astro:after-swap", () => {
        playAnimation();
    });
</script>
