---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import ProjectList from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---
<Layout title="Projects">
<body>
    <Navbar />
    <main>
    <img src="/crt_red_mask.png" class="crt-mask">
    <h1>Projects: </h1>
    <h3>Here is every project that I have made by myself!</h3>
    <div class="main-projects-content">
      <ProjectList />
      </div>
    </main>
    <Footer/>
</body>
</html>
</Layout>