---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import ProjectList from "../components/Projects.astro";
import Footer from "../components/FooterSmallPage.astro";
---
<Layout title="Projects">
<body>
    <Navbar />
    <main>
    <h1>Projects: </h1>
    <div class="main-projects-content">
      <ProjectList />
      </div>
      <Footer/>
    </main>
</body>
</html>
</Layout>