---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import ProjectList from "../components/Projects.astro";
import Contributed from "../components/Contributed.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Projects">
    <body>
        <Navbar />
        <div class="main">
            <img src="/crt_red_mask.png" class="crt-mask" />
            <h1>Projects:</h1>
            <h3>Here is every project that I have made by myself!</h3>
            <div class="main-projects-content list-container">
                <ProjectList />
            </div>
            <h1>Projects I've Contributed to:</h1>
            <h3>Here is every project that I have contributed to!</h3>
            <div class="main-contributed-content list-container">
                <Contributed />
            </div>
        </div>
        <Footer />
    </body>
</Layout>
