---
import DownloadIcon from "./icons/DownloadIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import WebsiteIcon from "./icons/WebsiteIcon.astro";

type Props = {
    key: string;
    info: {
        name: string;
        description: string;
        links: {
            type: string;
            url: string;
        }[];
    };
};
const { key, info } = Astro.props;
---

<div class={"project " + key}>
    <div class="project-title">{info.name}</div>
    <div class="project-description">{info.description}</div>
    <div class="project-links">
        {
            info.links.map((link) => (
                <a target="_blank" rel="noreferrer noopener" href={link.url} class="project-link">
                    {link.type === "github" ? <GithubIcon /> : link.type === "website" ? <WebsiteIcon /> : link.type === "download" ? <DownloadIcon /> : null}
                </a>
            ))
        }
    </div>
</div>
