<footer class="footer">
    <p>Made with ❤️ and <a target="_blank" rel="noopener noreferrer" class="link" href="https://astro.build">Astro</a> by wearr.</p>
</footer>

<style>

.footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #121212;
}
</style>