<footer class="footer-small-page">
    <p>Made with ❤️ and <a target="_blank" rel="noopener noreferrer" class="link" href="https://astro.build">Astro</a> by wearr.</p>
</footer>

<style>
.footer-small-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #121212;
}
</style>