---
let filesURL = "https://files.wearr.dev";
---

<div class="navbar">
    <div class="left">
        <div class="home"><a href="/">Home</a></div>
        <div class="projects"><a href="/projects/">Projects</a></div>
        <div class="files"><a href={filesURL} target="_blank" rel="noreferrer noopener">Files</a></div>
    </div>
    <div class="center">
        <div class="logo">wearr.dev</div>
    </div>
    <div class="right">
        <div class="hire-me"><a href="/hire-me/">Hire me</a></div>
        <div class="contact"><a href="/contact/">Contact</a></div>
        <div class="about"><a href="/about/">About</a></div>
    </div>
</div>

<style>
    .navbar {
        background-color: rgb(19, 21, 22);
        color: rgba(232, 230, 227, 0.87);
        width: 100%;
        min-height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: sticky;
    }
    .navbar > .left {
        margin-left: 20px;
    }
    .navbar > .right {
        margin-right: 20px;
    }

    .left,
    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        flex-shrink: 1;
    }

    @media (max-width: 880px) {
        .center {
            display: none;
        }
    }

    @media (max-width: 800px) {
        .left,
        .right {
            gap: 1.5rem;
        }
    }
    @media (max-width: 690px) {
        .left,
        .right {
            gap: 0.5rem;
        }
    }
    @media (max-width: 618px) {
        .files,
        .about {
            display: none;
        }
        .left,
        .right {
            gap: 0.25rem;
        }
    }
    @media (max-width: 430px) {
        .left,
        .right {
            gap: 0.15rem;
        }
        .left {
            margin-left: 0px !important;
        }
        .right {
            margin-right: 0px !important;
        }
    }
    @media (max-width: 400px) {
        .left > * > a,
        .right > * > a {
            padding: 5px;
        }
    }

    @media (max-width: 380px) {
        .navbar {
            font-size: 15px;
        }
    }
    @media (max-width: 360px) {
        .navbar {
            font-size: 13px;
        }
    }
    @media (max-width: 340px) {
        .navbar {
            font-size: 11px;
        }
    }
    @media (max-width: 300px) {
        .navbar {
            font-size: 10px;
        }
    }

    .left > * > a,
    .right > * > a {
        text-decoration: none;
        color: white;
        padding: 15px;
    }

    .logo {
        font-weight: 700;
        transition: 250ms ease-in-out;
    }
    .logo:hover {
        color: var(--text-color);
    }

    .left *:hover,
    .right > *:hover {
        color: #aaaaaa;
    }
</style>
