<div class="navbar">
    <div class="left">
        <div class="home"><a href="/">Home</a></div>
        <div class="projects"><a href="/projects">Projects</a></div>
        <div class="files"><a href="/files">Files</a></div>
    </div>
    <div class="center">
        <div class="logo">wearr.dev</div>
    </div>
    <div class="right">
        <div class="hire-me"><a href="/hire-me">Hire me</a></div>
        <div class="about"><a href="/about">About</a></div>
        <div class="contact"><a href="/contact">Contact</a></div>
    </div>
</div>