---
    import ServiceCard from "./ServiceCard.astro";
---

<div class="services-container">
    <ServiceCard title="Bug Fixing" description="I will go through your JS/TS project and search for bugs or lack of functionality, and fix them." button="/contact"></ServiceCard>
    <ServiceCard title="Project Advice" description="I will offer you advice for your project and give you a price range for what you are trying to accomplish." button="/contact"></ServiceCard>
    <ServiceCard title="Website Development" description="Do you need a professional website for your business? If so then I can help! I develop websites in HTML, Astro and EJS primarily." button="/contact"></ServiceCard>
    <ServiceCard title="Backend Development" description="Need an API created? How about a login system using OAuth2? I can do all of those and more." button="/contact"></ServiceCard>
</div>

<style>
    .services-container {
        animation: fadeIn 1000ms forwards;
        display: flex;
        gap: 10px;
        flex-direction: row;
    }
</style>