---
import ServiceCard from "./ServiceCard.astro";
---

<div class="services-container">
    <ServiceCard title="Website Development" description="Do you need a professional website for your business? If so then I can help!" button="/contact" />
    <ServiceCard title="Backend Development" description="Need an API created? How about a login system using OAuth2? I can do all of those and more." button="/contact" />
    <ServiceCard title="Bug Fixing and Assistance" description="I will go through your JS/TS project and search for bugs or lack of functionality, and fix them." button="/contact" />
    <ServiceCard title="Reverse Engineering" description="Interested in what a website is doing under the hood? I will do my best to reverse engineer a site for you!" button="/contact" />
</div>

<style>
    .services-container {
        animation: fadeIn 1000ms forwards;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
