---

import teams from "../json/teams.json"

---

{Object.keys(teams).map((key) => {
    const team = teams[key];
    return(
        <div class={"team " + key}>
            <div class="team-title">{team.name}</div>
            <div class="team-description">{team.description}</div>
            <div class="team-links">
            {team.links.map((link) => (
                <a target="_blank" rel="noreferrer noopener" href={link.url} class="team-link">
                    <i class={link.icon}></i>
                </a>
            ))}   
            </div>
        </div>
    )
})}

<style>
.team {
    background-color: #272626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    transition: 350ms ease-in-out;
    animation: fadeIn 800ms forwards;
}
</style>